.wrapper-post {
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    background-color: #cccccc;
    border-radius: 45px;
    padding: 80px;
}

.post {
    max-width: 100%;
    max-height: 700px;
}

.post__image {
    width: 70%;
    height: 300px;
    border-radius: 45px;
}

.post__title {
    margin: 20px 0;
    text-align: center;
}

.post__paragraph {
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-edit-form {
    display: flex;
    flex-flow: column;
}